$break-xs: 600px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$navbar-height: 60px;

$body-color: #ddeeda;
$navbar-color: #7ad8a3;
$active-link-border: #5FA1B5;

$regular-text-color: #202526;
$regular-text-color-hover: #1a1d1e;
