@import '../variables.scss';
@import '../mixins.scss';

body {
  background: $body-color;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: $regular-text-color;
}

.app-container {
  min-height: 100%;
}

.app-content {
  @include main-content;
}
